/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #f5f8ff;
    --clr-bg-pri: #fbfdff;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #edbbfe;
    --clr-acc-pri: #adf1f7;
    --clr-acc-sec:  #ffddb5;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #161842;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);
    font-family: "Merriweather", serif;}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: block;
    width: min-content;
    color: var(--clr-text-main);
    padding: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.column:nth-of-type(1) .btn { background-color: var(--clr-acc-main);}
.column:nth-of-type(2) .btn { background-color: var(--clr-acc-pri);}
.column:nth-of-type(3) .btn { background-color: var(--clr-acc-sec);}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 660px;
    height: 400px;
    padding: 3rem;
    display: flex;
    background-color: rgba( 255, 255, 255, 0.65 );;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    justify-content: center;
    position: relative;
    animation: scaleUp 1s ease-in-out;
    border-radius: .5rem;
    gap: 1.5rem;
    outline: 1rem solid #fff;
    transform-origin: center center;
}

h1 span {
    font-size: 1.2rem;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (max-width: 530px) {
    .container {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
}

#shape-1,
#shape-2,
#shape-3 {
  position: absolute;
  min-width: 300px;
  height: 300px;
  z-index: -1;
  border-radius: 50%;
  mix-blend-mode: multiply;
  filter: blur(44px);
}

#shape-1 {
  background-color: var(--clr-acc-main);
  left: 20px;
}
#shape-2 {
  background-color: var(--clr-acc-pri);
  left: 30%;
  top: 1%;
}
#shape-3 {
  background-color: var(--clr-acc-sec);
  right: 5%;
}

.scale-up-center {
  animation: scale-up-center 7s cubic-bezier(0.39, 0.575, 0.565, 1)
    infinite both;
}
@keyframes scale-up-center {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
.fade-delay-2000 {
  animation-delay: 2s;
}
.fade-delay-4000 {
  animation-delay: 4s;
}
